name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node:
          - 16
          - 20

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5.0.1

      - name: Install Node
        uses: actions/setup-node@v5.0.0
        with:
          node-version: ${{ matrix.node }}

      - run: npm ci

      - run: npm test
